# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.idea

# Binaries
sonar-sweep/sonar-sweep
dive/dive
binary-diagnostic/binary-diagnostic
bingo/bingo

# Dependency directories (remove the comment below to include it)
# vendor/
